@import "tailwindcss";

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

input[type="color"] {
	border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}

input[type="color"]::-webkit-color-swatch:hover {
	cursor: pointer;
}

input[type="text"] {
	text-transform: uppercase;
}

@layer components {
  .optionContainer {
    @apply px-4 py-2.5 flex gap-2 items-center;
  }

  .optionLabel {
    @apply text-gray-400 text-base;
  }

  .addOrSubtract {
    @apply bg-gray-700 w-10  h-full flex items-center justify-center hover:bg-gray-600 transition-colors duration-150 ease-in-out hover:cursor-pointer;
  }

  .unitContainer {
    @apply bg-gray-700 w-12 h-full flex items-center justify-center;
  }

  .currentUnit {
    @apply text-gray-200 text-base;
  }

  .icon {
    @apply text-amber-400;
  }

  .colorSwatch {
    @apply w-10 h-full;
  }

  .hexContainer {
    @apply w-22 h-full bg-gray-700 rounded-r-lg flex items-center justify-center;
  }

  .inputHex {
    @apply w-22 h-full text-gray-200 text-base px-2 rounded-r-lg;
  }

  #micContainer {
    @apply flex items-center;
  }

  #micBtn {
    @apply w-10 h-10 mx-4 my-2 rounded-full bg-amber-500 flex justify-center items-center hover:bg-amber-600 transition-colors duration-150 ease-in-out hover:cursor-pointer;
  }

  #micIcon {
    @apply text-lg;
  }

  #micErrorMessage {
    @apply text-red-400 text-base;
  }
}