@import "tailwindcss";

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

input[type="color"] {
	border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}

@layer components {
  .optionContainer {
    @apply px-4 py-2 flex gap-2 items-center;
  }

  .optionLabel {
    @apply text-gray-400 text-base;
  }

  .addOrSubtract {
    @apply bg-gray-700 w-10 flex items-center justify-center hover:bg-gray-600 transition-colors duration-100 ease-in-out h-full;
  }

  .unitContainer {
    @apply bg-gray-700 w-12 h-full flex items-center justify-center;
  }

  .currentUnit {
    @apply text-gray-200 text-base;
  }

  .icon {
    @apply text-amber-400;
  }

  .colorSwatch {
    @apply w-10 h-full;
  }

  .hexContainer {
    @apply w-22 h-full bg-gray-700 rounded-r-lg flex items-center justify-center;
  }
}