@import "tailwindcss";

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.options {
  @apply p-4 flex gap-2 items-center;
}

.optionLabel {
  @apply text-gray-800 dark:text-gray-200 text-base;
}

.btn {
  @apply bg-gray-50 dark:bg-gray-700 rounded-md w-23 h-8;
}

.optionNumber {
  @apply text-gray-800 dark:text-gray-200 text-base;
}